.form {
    display: flex;
    border-top: 2px solid #FFFCF9;
  }
  
  .input {
    border: none;
    border-radius: 0;
    padding: 2%;
    width: 85%;
    font-size: 1.2em;
  }
  
  input:focus, textarea:focus, select:focus{
    outline: none;
  }
  
  .sendButton {
    color: #FFFCF9 !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #EF476F;
    padding: 20px;
    display: inline-block;
    border: none;
    width: 15%;
  }